

/* effect btn wsp */
.wsp-button {
    background-color: var(--green-wsp-color);
    color: var(--white-color);
}

.wsp-button:hover,
.wsp-button:active {
    color: var(--green-wsp-color);
    background-color: var(--white-color);
    border: 2px solid var(--green-wsp-color);
}

.h-70-50 {
    height: 70px;
}
/* Styles for small mobile phones (hasta 480px) */
/* Styles for small mobile phones */

/* Styles for tablets (mín. 480px to max. 768px) */
@media (min-width: 480px) {
    /* Styles for tablets */
}

/* Styles for desktops (mín. 768px to max. 992px+)) */
@media (min-width: 768px) {
    /* Styles for desktops */
}

/* Styles for large desktops (mín. 992px to max. infinite) */
@media (min-width: 992px) {
    .h-70-50 {
        height: 40px;
        max-height: 40px;
    }
}
