

{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}


{% block extra_head %}

    <title>Carrito | {{store.name}}</title>
    <link href="{% static 'cart/css/cart_page_detail.css' %}" rel="stylesheet">

{% endblock extra_head %}
    

{% block main_content %}

<!-- Primera fila -->
<div class="d-flex mt-2 mb-2 gap-1">
    <!-- top buttons -->
    <a class="btn btn-parallelogram p-1 px-2" href="{% url 'Home' %}">
        <span class="font-md"> Home </span>
    </a>

    <button class="btn btn-parallelogram p-1 px-2">
        <span class="font-md"> Mi Carrito </span>
    </button>
</div>


<div class="d-grid cont-cart-detail p-0 gap-2">

    <!-- Primera Columna -->
    <div class="d-flex-col gap-3">
        
        <!-- Container cart table -->
        <div class="bg-primary border-hover d-flex-col p-2" id="cart-view-container">
            {% include "cart/table_cart_detail.html" %}
        </div>
        
        <!-- Container cupon stuff -->

        <div class="cont-space-between w-100 gap-5">
            <form class="bg-primary border-hover d-flex w-100 gap-2 p-2 px-3 mt-1 mb-1" id="form-coupon">
                <input type="text" class="btn-40 w-100" name="coupon" placeholder="Tienes un cupón?">

                <button class="btn btn-main btn-40 px-2 w-min" type="submit">
                    <b class="font-sm">Aplicar</b>
                </button>
            </form>

            <form class="d-desktop-flex px-3" id="form-update-cart">
                <button type="submit" class="btn btn-main btn-40 p-2 w-min">
                    <b class="font-sm text-truncate">Actualizar Carrito</b>
                </button>
            </form>
        </div>
        
    </div>


    <!-- Segunda Columna -->
    <div class="bg-primary border-hover p-2 d-flex-col gap-2 h-min">
        <div class="cont-space-between font-md bolder">
            <p>Total:</p>
            <p class="total-cart-view">$ {{ total_price|intdot }}</p>
        </div>

        <div class="cont-space-between font-sm bold-main">
            <p>Discount:</b>
            <p><i class="ri-subtract-fill"></i>$ 0</p>
        </div>

        <hr>
        
        <div class="cont-space-between bolder font-md">
            <p>Total:</p>
            <p class="total-cart-view">$ {{ total_price|intdot }}</p>
        </div>

        <a class="mt-2 btn btn-main btn-40 w-100" href="{% url 'order' %}">
            <b class="font-md">Finalizar Compra</>
        </a>
    </div>
</div>

{% endblock main_content %}


{% block extra_scripts %}
    <!-- JavaScript for Product Page -->
    <script>
        window.TEMPLATE_URLS = {
            // favorites/urls.py
            favorites: "{% url 'toggle-favorite' 0 %}".replace('0/', '{product_id}/')
        };
    </script>

    <script src="{% static 'favorites/js/add_favorites.js' %}"></script>

    <script src="{% static 'cart/js/cart_page_detail.js' %}"></script>

{% endblock extra_scripts %}