

{% load custom_filters %}

{% for key, value in carrito.items %}

    <div class="d-flex gap-1 h-150 mb-4">

        <!-- Imagen del Producto -->
        <div class="cont-img-35">
            <a class="" href="#">
                <img class="img-scale-down" src="{{value.image}}" alt="Product Image">
            </a>
        </div>

        <div class="d-flex-col cont-65 gap-3">
            
            <div class="cont-space-between align-start gap-1">
                <div class="text-start">
                    <h5 class="mb-1"> {{ value.name }} </h5>

                    <div class="d-flex text-start ms-1 gap-1">
                        <b>{{ value.qty }}</b>
                        <i class="ri-close-line font-lg"></i>
                        <b>$ {{ value.price|intdot }}</b>
                        <!-- <i class="ri-equal-line"></i>
                        <strong>${ { value. price | multiply:value.qty } }</strong> -->
                    </div>
                </div>
                
                <!-- Botón de eliminar en la esquina superior derecha -->
                <form class="form-to-delete" data-index="{{value.id}}" data-stock="{{value.stock}}">
                    <button class="btn btn-close btn-24" type="submit">
                        <i class="ri-close-fill font-lg"></i>
                    </button>
                </form>
            </div>

            
        
            <!-- Contador y botón de eliminar -->
            <div class="cont-numeric-add-less cont-space-between">
                <form class="form-to-less" data-index="{{value.id}}" data-stock="{{value.stock}}">
                    <button class="btn btn-28 scale-on-touch" type="submit">
                        <i class="ri-subtract-fill font-lg text-primary"></i>
                    </button>
                </form>

                <span class="cart-item-qty"> {{value.qty}} </span>
                
                <form class="form-to-add" data-index="{{value.id}}" data-stock="{{value.stock}}">
                    <button class="btn btn-28 scale-on-touch" type="submit">
                        <i class="ri-add-fill font-lg text-primary"></i>
                    </button>
                </form>
            </div>

        </div>


    </div>
{% endfor %}