

/* Footer */
footer .ri-tiktok-fill {
    color: var(--text-primary);
}

footer .ri-facebook-box-fill {
    color: #1877F2;
}

footer .ri-instagram-line {
    color: #E4405F;
}

footer .ri-google-fill {
    color: #DB4437;
}
