



{% load static %}
{% load custom_filters %}


<div class="w-100">

    <!-- title of each swiper container -->
    <div class="cont-space-between cont_carousel__title">
        <div class="d-flex justify-start px-2 h-100 carousel__title">
            <h2 class="text-white">Favoritos</h2>
        </div>

        <div class="d-flex gap-1"> 
            <!-- Buttons will be handled with Swiper -->
            <div class="swiper-button-prev-product" id="prev-fav">
                <i class="ri-arrow-left-s-line font-lg"></i>
            </div>
            <div class="swiper-button-next-product" id="next-fav">
                <i class="ri-arrow-right-s-line font-lg"></i>
            </div>
        </div>
    </div>

    <!-- Swiper Carousel Container -->
    <div class="swiper-products" id="swiper-favs">
        <div class="swiper-wrapper">
            {% for product in products %}
            
            <article class="swiper-slide product__card">

                <!-- Botón de la esquina -->
                <button class="btn corner-box" data-product='{
                    "id": "{{ product.id|escape_data }}",
                    "name": "{{ product.name|escape_data }}",
                    "slug": "{{ product.slug|escape_data }}",

                    "cat": "{{ product.category.name|escape_data }}",
                    "catSlug": "{{ product.category.slug|escape_data }}",

                    "subcat": "{{ product.subcategory.name|escape_data }}",
                    "subcatSlug": "{{ product.subcategory.slug|escape_data }}",

                    "brand": "{{ product.brand.name|escape_data }}",
                    "brandSlug": "{{ product.brand.slug|escape_data }}",

                    "stock": "{{ product.stock|escape_data }}",
                    "price": "{{ product.price|escape_data }}",
                    "discount": "{{ product.discount|escape_data }}",

                    "image": "{{ product.main_image|escape_data }}"
                }'>
                    <i class="ri-focus-mode font-xl"></i>
                </button>
                
                <!-- Contenedor de productos -->
                <div class="d-grid cont-100 product-card__info">
                    <!-- Imagen del Producto -->
                    <a href="{% url 'product_detail' product.id product.slug %}" class="cont-img-100">
                        <img class="img-scale-down" src="{{ product.main_image }}" alt="{{ product.name }}">
                    </a>

                    <!-- Titulo ref -->
                    <a class="ms-2 text-sm me-2 text-truncate-multiline" 
                    href="{% url 'product_detail' product.id product.slug %}">
                        <b class="font-md">{{ product.name }}</b>
                    </a>

                    <!-- stock -->
                    <div class="ms-2 me-2 cont-space-between">
                        {% if not product.available or product.stock == 0 %}
                            <b class="bold-red font-sm">No disponible</b>
                        {% elif product.stock <= 3 %}
                            <b class="bold-orange font-sm">Stock Bajo</b>
                        {% else %}
                            <b class="bold-green font-sm">Disponible</b>
                        {% endif %}
                    
                    <!-- </div>    container stars - likes
                    <div class="ms-2 me-2 cont-space-between">
                        <div class="d-flex gap-1"> 
                            <b> { { product . stars } } </b>
                            <i class="ri-star-fill font-lg"></i>
                        </div>
                    -->
                        <!-- Botón de la corazon -->
                        <form class="form-btn__like" data-index="{{product.id}}">
                            <button class="btn btn-like liked" type="submit">
                                <i class="ri-heart-fill font-xl"></i>
                            </button>
                        </form>
                    </div>
                    
                    <!-- discount -->
                    <div class="ms-2 d-flex-col gap-1 font-md me-2">
                        {% if product.discount %}
                            <!-- descuento -->
                            <div class="cont-space-between w-100">
                                <b class="font-sm d-desktop-block">Descuento:</b>
                                <b class="bold-red">% {{product.discount}} OFF</b>
                            </div>
            
                            <!-- Precios: Normal y Oferta -->
                            <div class="cont-space-between w-100 font-sm">
                                <b class="text-line-through text-secondary">Normal:</b>
                                <b class="text-line-through text-secondary">$ {{product.price|intdot}}</b>
                            </div>
    
                            <!-- Precio con descuento (calculado por JavaScript) -->
                            <div class="cont-space-between w-100">
                                <b class="bold-red">Oferta:</b>
                                <b class="bold-red">$ {{product.calc_discount|intdot}}</b>
                            </div>
                        {% else %}
                            <b> $ {{ product.price|intdot }} </b>
                        {% endif %}
                    </div>
                </div>

                <!-- Botón de agregar al carrito -->
                <form class="d-flex justify-center product-card__extender-btn" 
                data-index="{{ product.id }}" data-stock="{{product.stock}}">
                    <button class="btn btn-main gap-1 btn-32 w-75 btn-add-product-pc" type="submit">
                        <b>Agregar</b> 
                        <i class="ri-shopping-basket-2-fill font-md"></i>
                    </button>
                </form>
            </article>

            {% endfor %}
        </div>
    </div>
</div>


<!-- Modales y Overlay (fuera del Swiper) -->
<div class="modal product-card__modal" id="product-card__modal" data-state="null">

    
    <button class="btn btn-close btn-28 justify-self-end">
        <i class="ri-close-line font-xl"></i>
    </button>

    <div class="d-grid cont-grid-122">
        
        <!-- Primera Columna Modal		 -->
        <div class="cont-img-100">
            <img class="img-scale-down modal-img" src="" alt="">
        </div>
            
        
        <!-- Segunda Columna Modal		 -->
        <div class="d-flex-col gap-1">

            <!-- Category - Subcategory Groups		 -->
            <div class="d-flex gap-1 modal-cat-group">
                <a class="p-1 w-min border-hover bg-secondary btn-primary modal-catSlug" href="#">
                    <b class="text-truncate font-sm modal-cat">  </b>
                </a>

                <a class="p-1 w-min border-hover bg-secondary btn-primary modal-subcatSlug" href="#">
                    <b class="text-truncate font-sm modal-subcat">  </b>
                </a>
            </div>

            <!-- Brand - Stock Groups		 -->
            <div class="d-flex gap-1">
                <div class="w-min p-1 px-2 pxr-3 border-hover bg-secondary">
                    <p class="text-secondary font-sm text-start"><b>Stock</b></p>
                    <p><b class="text-truncate modal-stock">  </b></p>    
                </div>

                <div class="w-min p-1 px-2 pxr-3 border-hover bg-secondary modal-stock-group">
                    <p class="text-secondary font-sm text-start"><b>Marca</b></p>
                    <a class="modal-brandSlug" href="#">
                        <b class="text-truncate modal-brand bold-main">  </b>
                    </a>
                </div>
            </div>

            <!-- Name product - Price - Offer		 -->
            <h2 class="mt-2 ms-1 modal-title">  </h2>

            <div class="d-flex-col w-100 p-2 border-hover bg-secondary relative">
                <div class="offer-tag modal-group-discount">
                    <b class="text-truncate text-white modal-discount"> </b>
                </div>

                <p class="text-center mt-2"> 
                    <b class="bold-orange modal-group-discount">
                        <i class="ri-fire-line font-xl"></i>
                    </b>
                    <b class="font-xl modal-price">  </b>
                    <b class="text-line-through text-secondary modal-group-discount font-lg modal-price-offer"> </b>
                </p>
             
                <p class="text-center text-secondary font-xs"><b>
                    Precio especial pagando por depósito o transferencia bancaria.
                </b></p>
            </div>


            <a class="mt-5 mb-2 modal-id" href="#">
                <b class="bold-main">Ver Producto Completo.</b>
            </a>

        </div>

    </div>
</div>
    

<div class="overlay" id="product-card__overlay"></div>