

{% load custom_filters %}


<h1 class="bold-main mt-1 mb-3">Lista de Pedidos</h1>

<div class="d-grid cont-grid-orders">

    <div class="text-center bolder text-break text-secondary font-md">Orden</div>
    <div class="text-start bolder text-break text-secondary font-md">Fecha</div>
    <div class="text-center bolder text-break text-secondary font-md">Estado</div>
    <div class="text-center bolder text-break text-secondary font-md">Resumen</div>
    <div class="text-start bolder text-break text-secondary font-md">Factura</div>

    {% for order in orders %}

        <div class="text-center bold-main text-break"># {{ order.id }}</div>
        <div class="text-start bolder text-break">{{ order.created_at|short_date }}</div>

        <div class="text-center bold-orange text-break">{{ order.status__name }}</div>

        <div class="text-center bolder text-break">$ {{ order.total|intdot }}</div>
        <a class="text-start bold-main text-break" href="#">Ver Orden</a>
        
    {% endfor %}
</div>



