

.img-circle {
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor, recortando si es necesario */
    object-position: center; /* Centra la imagen si se recorta */
}

.p-border-top { 
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

.p-border-bot {
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    border-top: none !important;
}


/*
    Segunda columna dashboards y demas
*/
.cont-banner-profile {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cont-tabs {
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    background-color: var(--text-secondary);
    
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
    height: 124px;
    max-height: 124px;
}

.btn-tabs.active-tab {
    background-color: #007bff;
}

.white-border-right-left {
    border-top: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    height: 44px;
}


/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 992px) {
    .white-border-right-left {
        border: none;
        height: 40px;
        width: calc(100% + 4px);
        border-left: 2px solid var(--white-color);
        border-right: 2px solid var(--white-color);
    }

    .cont-tabs {
        grid-template-columns: repeat(3, 1fr);
        height: 40px;
        max-height: 40px;
    }
}










/* =========================================================================================
            TAB PERSONALIZADO DE ORDERS
========================================================================================= */
.cont-table-orders {
    /* id     status.name    price  */
    padding: 0;
    gap: 16px;
    column-gap: 0;
    grid-template-columns: 0.4fr 1.1fr 0.9fr;
}

.row-order {
    height: 32px;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--text-primary);
}

.cont-table-orders .underline-anim span::after {
    background-color: var(--main-light-color);
}


/* Styles for large desktops (mín. 992px to max. infinite) */
@media (min-width: 992px) {
    .cont-table-user {
        grid-template-columns: 0.7fr 0.7fr 1.7fr 0.7fr 0.4fr;
        height: 48px;
        column-gap: 16px;
    }

    .cont-table-orders {
        /* id     date    status.name    price    href */
        grid-template-columns: 0.4fr 0.6fr 1.1fr 1.1fr 0.5fr;
    }
}