{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}


{% block extra_head %}
	<title>Finalizar Pedido | {{store.name}}</title>
	<link rel="stylesheet" href="{% static 'orders/css/resume_order.css' %}">
{% endblock %}


{% block main_content %}
<!-- Primera fila -->
<div class="d-flex mb-2 gap-1">
	<a class="btn btn-parallelogram p-1 px-2" href="{% url 'Home' %}">
		<span class="font-sm bolder"> Home </span>
	</a>
	
	<a class="btn btn-parallelogram d-desktop-flex p-1 px-2" href="{% url 'cart_page_detail' %}">
		<span class="font-sm bolder"> Mi Carrito </span>
	</a>

	<button class="btn btn-parallelogram p-1 px-2">
		<span class="font-sm bolder"> Resumen Pedido </span>
	</button>
</div>


<div class="cont-order-page">
	<form class="d-grid cont-grid-122 bg-primary border-hover h-min shadow-low gap-2 p-3" id="form-order">
		
		<h1 class="grid-col-all bold-main mb-1">Tus Datos</h1>

		<!-- Nombre y Apellido -->
		<label class="d-flex-col gap-1">
			<strong>Nombre</strong>
			<input type="text" name="first_name" value="{{ user.first_name|default:'' }}" required>
		</label>

		<label class="d-flex-col gap-1">
			<strong>Apellido</strong>
			<input type="text" name="last_name" value="{{ user.last_name|default:'' }}" required>
		</label>

		<!-- Teléfono y DNI -->
		<label class="d-flex-col gap-1">
			<strong>Celular</strong>
			<input type="text" name="cellphone" value="{{ user.cellphone|default:'351' }}" required>
		</label>

		<label class="d-flex-col gap-1">
			<strong>DNI</strong>
			<input type="text" name="dni" value="{{ user.dni|default:'' }}" required>
		</label>

		<!-- Email -->
		<label class="d-flex-col gap-1">
			<strong>Email</strong>
			<input type="email" name="email" value="{{ user.email|default:'' }}" required>
		</label>

		<!-- Aclaración del pedido -->
		<label class="grid-col-all d-flex-col gap-1">
			<strong>Aclaración del pedido</strong>
			<textarea name="detail_order"></textarea>
		</label>

		<!-- Extra form fore Retire -->
		<section class="grid-col-all" id="retire-form">
			<div class="d-grid cont-grid-122 gap-2 p-0">
				<h3 class="grid-col-all">Datos de Retiro</h3>

				<label class="d-flex-col gap-1">
					<strong>Nombre de quién retira</strong>
					<input type="text" name="name_retire" class="input-required">
				</label>

				<label class="d-flex-col gap-1">
					<strong>DNI de quién retira</strong>
					<input type="text" name="dni_retire" class="input-required">
				</label>
			</div>
		</section>

		<!-- Extra form fore Shippin -->
		<section class="grid-col-all" id="shippin-form">
			<div class="d-grid cont-grid-122 gap-2 p-0">

				<h3 class="grid-col-all">Datos de Envío</h3>

				<label class="d-flex-col gap-1">
					<strong>Provincia</strong>
					<select name="province" id="id_province" class="input-required">
						{% for key, value in provinces %}
							<option value="{{key}}">{{ value }}</option>
						{% endfor %}
					</select>
				</label>

				<label class="d-flex-col gap-1">
					<strong>Ciudad</strong>
					<input type="text" name="city" value="{{ user.city|default:'' }}" class="input-required">
				</label>

				<label class="d-flex-col gap-1">
					<strong>Domicilio Completo</strong>
					<input type="text" name="address" value="{{ user.address|default:'' }}" class="input-required">
				</label>

				<label class="d-flex-col gap-1">
					<strong>Código Postal</strong>
					<input type="text" name="postal_code" value="5010">
				</label>

				<label class="grid-col-all d-flex-col gap-1">
					<strong>Detalles del Envío</strong>
					<textarea name="detail"></textarea>
				</label>
			</div>
		</section>

		<div class="d-flex grid-col-all justify-center align-center mt-1">
			<button type="button" class="btn btn-main btn-36 w-min px-2" id="btn-confirm-form"> 
				<b class="font-md text-truncate">Confirmar Pedido</b> 
			</button>
		</div>

		<button type="submit" id="btn-order-submit" hidden></button>
	</form>

	<!--  SEGUNDA COLUMNA   -->
	<div class="d-flex-col gap-2 p-3 bg-primary border-hover shadow-low ">

		<!-- Open Modal -->
		<button class="btn btn-main mt-1 mb-1 btn-36 p-1 px-3 w-min justify-self-center" id="btn-open-order"> 
			<p class="bolder font-md text-truncate">Ver tu Pedido</p>
		</button>

		<div class="cont-space-between font-sm bolder"> 
			<p>Método Pago:</p>
			<p class="payment-method">Ninguno</p>
		</div>

		<div class="cont-space-between font-sm bolder"> 
			<p>Método de Envío:</p>
			<p class="shipment-method">Ninguno</p>
		</div>

		<div class="cont-img-100-off h-150 mb-3 mt-3">
			<img alt="img mercado pago" class="img-scale-down"
			src="https://epicbikes.com.ar/wp-content/uploads/2019/09/mercadopago-logo-fondo-transparente-300x142.png">
		</div>
		
		<hr class="text-primary">

		<!-- Comienza opciones 		 -->
		<section id="payment-methods-section" class="d-flex-col gap-1">
			<strong class="font-lg mb-1">Métodos de Pago</strong>

			{% for payment in payment_methods %}
			<label class="bg-secondary p-2 border-hover relative label-option">
				<input type="radio" name="payment" 
					value="{{payment.name}}" data-index="{{payment.id}}"
					class="label-option__input" />

				<span class="label-option__checkmark"></span>

				<strong class="padding-left-40 font-md">{{ payment.name }}</strong>
				<p class="padding-left-40 mt-1 font-sm">{{ payment.description }}</p>
			</label>
			{% endfor %}
		</section>
		
		<hr class="text-primary">

		<section id="shipping-methods-section" class="d-flex-col gap-1">
			<strong class="font-lg mb-1">Métodos de Envío</strong>

			{% for shipment in envios_methods %}
			<label class="bg-secondary p-2 border-hover relative label-option">
				<input type="radio" name="ship" 
					value="{{shipment.name}}" data-index="{{shipment.id}}"
					data-price="{{ shipment.price|floatformat:'-2' }}"
					class="label-option__input" />

				<span class="label-option__checkmark"></span>

				<strong class="padding-left-40 font-md">{{ shipment.name }}</strong>
				<p class="padding-left-40 mt-1 font-md text-secondary">
					{% if shipment.price == 0 %}
						Gratis
					{% else %}
						$ {{shipment.price|intdot}}
					{% endif %}
				</p>
			</label>
			{% endfor %}
		</section>
		
	</div>
</div>

<!-- MODAL STUFF -->
<div class="modal modal-order gap-2">
	{% include "orders/modal_order.html" %}
</div>

<div class="overlay" id="overlay-order"></div>

{% endblock %}


{% block extra_scripts %}

	<!-- JavaScript for Product Page -->
    <script>
        window.TEMPLATE_URLS = {
            // payments/urls.py
            paymentPage: "{% url 'payment-order-create' 0 %}".replace('0/', '{order_id}/'),

			// orders/urls_api
			validOrder: "{% url 'valid_order_form' %}"
        };
    </script>

	<script src="{% static 'orders/js/resume_order.js' %}"> </script>

{% endblock %}
