


{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}


{% block extra_head %}

    <script src="https://sdk.mercadopago.com/js/v2"></script>

    <link rel="stylesheet" href="{% static 'payments/css/payments_page.css' %}">

{% endblock %}


{% block main_content %}

    <div class="mt-3 mb-3 cont-text-page">
        <h2 class="mb-2"> ¡Tu pedido se registró con éxito! </h2>

        <div class="d-flex gap-2 w-100">
            <i class="ri-shopping-bag-line icon-xl"></i>
            
            <!-- 	
            # 1 - Efectivo
            # 2 - Transferencia directa
            # 3 - Pagar en cuotas con tarjeta MERCADO PAGO API
            # 4 - Criptomoneda
            -->
            {% if payment.id == 1 %}
                <p class="text-start"> 
                    Si abonas por <b>EFECTIVO</b> debe realizar el pago en el local 
                    y se completará su venta tiene <b> {{payment.time}}hs para retirarlo</b>, 
                    o realice una <b>TRANSFERENCIA</b> para reservar su producto hasta retirarlo.
                </p>
            
            {% elif payment.id == 2 %}
                <div class="d-flex-col gap-1">
                    <p class="text-start"> 
                        Si abonas por <b>TRANSFERENCIA*</b> 
                        carga el comprobante dentro de {{payment.time}}hs de haber 
                        realizado el pedido, caso contrario será cancelado, sin excepción.
                    </p>

                    <p class="text-start"> 
                        *La verificación por <b>TRANSFERENCIA</b> pueden demorar 24hs por 
                        demora bancaria y es ajeno a nosotros. Veras actualizado el estado 
                        de tu pedido una vez confirmado el pago, <b> por favor sea paciente.</b>
                    </p>
                </div>
               
            {% elif payment.id == 3 %}
                <p class="text-start">
                    Si abonas con <b>TARJETA</b> y retiras en local, <b>ÚNICAMENTE</b>  
                    el titular con tarjeta utilizada en mano y <b>DNI</b> puede retirar, sin excepción.
                </p>

            {% elif payment.id == 4 %}
                <p class="text-start"> 
                    Si abonas con <b>CRIPTOMONEDA</b>: Pedí la wallet de pago de <b>"Binance Pay"</b> 
                    a nuestro Whatsapp. 
                    
                    Si abonas por <b>CRIPTOMONEDA</b> 
                    carga el comprobante dentro de {{payment.time}}hs de haber 
                    realizado el pedido, caso contrario será cancelado, sin excepción.
                </p>
            {% endif %}
        </div>
        
        <p> Te saluda atentamente, el equipo de {{ store.name }}. </p>

    </div>

    <hr>

    <div class="cont-payment-waiting d-flex-col gap-1">
        <div class="container-space-between">

           <!-- 		
                # 1	Cancelado
                # 2	Pendiente
                # 3	Pago a Confirmar
                # 4	Pago Confirmado
                # 5	Enviado
                # 6	Completado
                # 7	Devolución 
            -->
            {% if status.id == 1 %}
            <h2 class="mb-2"> Orden Cancelada </h2>
            <i class="ri-close-circle-line icon-payments red"></i>

            {% elif status.id == 2 %}
            <h2 class="mb-2"> Orden Pendiente </h2>
            <i class="ri-history-fill icon-payments"></i>

            {% elif status.id == 3 %}
            <h2 class="mb-2"> Pago a Confirmar </h2>
            <i class="ri-history-fill icon-payments"></i>

            {% elif status.id == 4 %}
            <h2 class="mb-2"> Pago Confirmado </h2>
            <i class="ri-checkbox-circle-line icon-payments green"></i>

            {% elif status.id == 5 %}
            <h2 class="mb-2"> Orden Enviada </h2>
            <i class="ri-truck-line icon-payments"></i>

            {% elif status.id == 6 %}
            <h2 class="mb-2"> Orden Completada </h2>
            <i class="ri-check-line icon-payments green"></i>

            {% elif status.id == 7 %}
            <h2 class="mb-2"> Orden en Devolución/Cancelada </h2>
            <i class="ri-arrow-left-circle-line icon-payments red"></i>

            {% endif %}
        </div>

        <div class="cont-grid-data">
            <b>Fecha Creación:</b>
            <b>{{ date }}</b>
        </div>
        
        <div class="cont-grid-data">
            <b>Hora Creación:</b>
            <b>{{ hour }}</b>
        </div>

        <div class="cont-grid-data">
            <b>Fecha de Cancelación:</b>
            <b class="bold-orange">{{ expire_date }}</b>
        </div>

        <div class="cont-grid-data">
            <b>Estado Orden:</b>
            <b class="bold-orange">{{ status.name }}</b>
        </div>
        
        <div class="cont-grid-data">
            <b>Método de pago:</b>
            <b>{{ payment.name }}</b>
        </div>
        
        <div class="cont-grid-data">
            <b>Método de envío:</b>
            <b>{{ shipment_method.name }}</b>
        </div>
        
        <div class="cont-grid-data">
            <b>Dirección de retiro:</b>
            <b>
                {% if shipment_method.id == 1 %}
                    {{ store.address }}
                {% else %}
                    {{ address }}
                {% endif %}
            </b>
        </div>
        
        <div class="cont-grid-data">
            <b>Nombre:</b>
            <b>{{ complete_name }}</b>
        </div>
        
        <div class="cont-grid-data">
            <b>Email:</b>
            <b>{{ order_email }}</b>
        </div>
    </div>

    <hr>

    <div class="container-space-between modal-header mt-3">
        <h2> Tu Pedido </h2>
    </div>

    <div class="container-order-table">
        <div class="cart-view-header">
            <b></b>    <!-- Image -->
            <strong>Producto</strong>
            <b class="justify-end">Precio</b>
            <b class="justify-end">Cantidad</b>
            <b class="justify-end">Sub-Total</b>
        </div>

        {% for item in items %}           
            <div class="cart-row">
                <!-- Imagen del producto -->
                <div class="image-container">
                    <img src="{{ item.product.main_image }}" alt="{{ item.product.name }}">
                </div>
                
                <!-- Nombre del producto -->
                <div>
                    <strong class="text-mobile">{{ item.product.name }}</strong>
                </div>

                <!-- Precio -->
                <div>
                    <b class="text-mobile">$ {{ item.price|intdot }}</b>
                </div>

                <!-- Catnidad -->
                <div class="d-flex gap-1">
                    <b><i class="ri-close-fill text-mobile"></i></b>
                    <b class="text-mobile">{{ item.quantity }}</b>
                    <b><i class="ri-equal-fill text-mobile"></i></b>
                </div>

                <!-- Subtotal -->
                <div class="d-flex gap-1">
                    <b class="d-md-block text-mobile">Sub-Total:</b>  
                    <b class="text-mobile">$ {{ item.subtotal|intdot }}</b>  
                </div>
            </div>
        {% endfor %}

        <!-- Completamos con otros datos -->
        <div class="cart-row cart-row-order {% if discount == 0 %} not-border-bottom {% endif %}">
            <!-- Imagen del producto -->
            <div></div>
            
            <!-- Nombre del producto -->
            <div><strong class="text-mobile">Envio</strong></div>

            <!-- Precio -->
            <div><b class="text-mobile">$ {{ shipment_method.price|intdot }}</b></div>

            <!-- Catnidad -->
            <div class="d-flex gap-1">
                <b><i class="ri-close-fill text-mobile"></i></b>
                <b class="text-mobile"> 1 </b>
                <b><i class="ri-equal-fill text-mobile"></i></b>
            </div>

            <!-- Subtotal -->
            <div class="d-flex gap-1">
                <b class="d-md-block text-mobile">Sub-Total:</b>  
                <b class="text-mobile">$ {{ shipment_method.price|intdot }}</b>  
            </div>
        </div>

        <!-- Completamos con otros datos -->
        {% if discount > 0 %}
        <div class="cart-row cart-row-order not-border-bottom">
            <!-- Imagen del producto -->
            <div></div>
            
            <!-- Nombre del producto -->
            <div><strong class="text-mobile bold-red">Descuento</strong></div>

            <!-- Precio -->
            <div><b class="text-mobile">$ {{ discount|intdot }}</b></div>

            <!-- Catnidad -->
            <div class="d-flex gap-1">
                <b><i class="ri-close-fill text-mobile"></i></b>
                <b class="text-mobile"> 1 </b>
                <b><i class="ri-equal-fill text-mobile"></i></b>
            </div>

            <!-- Subtotal -->
            <div class="d-flex gap-1">
                <b class="d-md-block text-mobile">Sub-Total:</b>  
                <b class="text-mobile bold-red">- $ {{ discount|intdot }}</b>  
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Completamos con otros datos -->
    <div class="container-space-between footer-order-table">
        <strong class="text-mobile">Total</strong>
        <b class="text-mobile">$ {{ total_cart|intdot }}</b>
    </div>

    <!-- brick de mercado pago -->
    <div id="payment-info" hidden data-index="{{payment.id}}"></div>
    {% if payment.id == 3 %}
        <div class="container-mp"> 
            <div id="wallet_container"></div>
        </div>
    {% endif %}


    <!--     Revisar algun día bien
    <select id="cuotas" onchange="generarBrick()">
        <option value="1">1 cuota - $100</option>
        <option value="3">3 cuotas - $150</option>
        <option value="6">6 cuotas - $200</option>
    </select>
    
    Contenedor donde se insertará dinámicamente el Brick 
    <div id="brick_container"></div> -->
    
{% endblock %}


{% block extra_scripts %}

    <script>
        let payment_id = document.getElementById('payment-info').getAttribute('data-index');

        if (payment_id == '3') {
            // Usa la public key que pasaste desde el backend
            const mp = new MercadoPago('{{ public_key }}', { 
                locale: 'es-AR'
            });

            mp.bricks().create("wallet", "wallet_container", {
                initialization: {
                    // Usa el preference_id que pasaste desde el backend
                    preferenceId: "{{ preference_id }}",  
                    redirectMode: "self",    // use 'blank' for open a new tab
                },
                customization: {
                    texts: {
                        valueProp: 'smart_option',
                    },
                },
            });
        }
    </script>

    
    <!-- 		 
    <script>
        function generarBrick() {
            let cuotas = document.getElementById("cuotas").value;
            let brickContainer = document.getElementById("brick_container");
        
            // Vaciar el contenedor antes de crear un nuevo Brick
            brickContainer.innerHTML = "";
        
            fetch(`/crear-preferencia?cuotas=${cuotas}`)
            .then(response => response.json())
            .then(data => {
                const mp = new MercadoPago("{ { public_key } }", { locale: 'es-AR' });
        
                // Crear un div para insertar el Brick
                let walletDiv = document.createElement("div");
                walletDiv.id = "wallet_container";
                brickContainer.appendChild(walletDiv);
        
                // Crear el Brick dentro del div dinámico
                mp.bricks().create("wallet", "wallet_container", {
                    initialization: {
                        preferenceId: data.preference_id,
                        redirectMode: "self",
                    }
                });
            })
            .catch(error => console.error("Error al generar el Brick:", error));
        }
    </script>
    -->
{% endblock %}

