{% load custom_filters %}


<div class="d-grid cont-grid-123 gap-3" id="table-headers">
    
    {% if active_headers %}
        <div class="grid-col-all cont-space-between-mobile gap-2">
            <h2 class="bold-main mt-2">Headers Activos en Home:</h2>
            <button class="btn btn-main w-max gap-1 p-1 px-2 btn-add-header" data-object="header" 
            data-index="0" data-action="create">
                <i class="ri-function-add-line font-lg"></i>
                <span class="font-sm"><b>Agregar Header</b></span>
            </button>
        </div>

        {% for header in active_headers %}
            <div class="h-170 relative cont-header-img" data-object="header" data-index="{{header.id}}" data-action="update"
                data-model='{
                    "available": "{{ header.available|yesno:"no,yes" }}",
                    "main_image": "{{ header.main_image|yesno:"yes,no" }}",
                    "header-{{header.main_image}}-{{header.id}}": "{{ header.image_url|escape_data}}"
                }'>

                <img src="{{ header.image_url }}" alt="Header {{header.id}}" 
                class="cont-100 effect-image-overlay {% if header.main_image %}border-main-lg{% endif %}">

                <div class="d-flex justify-center gap-2 cont-100 image-overlay">
                    <button class="btn btn-circle-overlay">
                        <i class="ri-edit-2-line font-xl" ></i>
                    </button>
                    <button class="btn btn-circle-overlay">
                        <i class="ri-delete-bin-6-line font-xl"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if inactive_headers %}
        <h2 class="grid-col-all mt-4">Headers Inactivos/Ocultos:</h2>

        {% for header in inactive_headers %}
            <div class="h-170 relative cont-header-img" data-object="header" data-index="{{header.id}}" data-action="update"
                data-model='{
                    "available": "{{ header.available|yesno:"no,yes" }}",
                    "main_image": "{{ header.main_image|yesno:"yes,no" }}",
                    "header-{{header.main_image}}-{{header.id}}": "{{ header.image_url|escape_data}}"
                }'>

                <img src="{{ header.image_url }}" alt="Header {{header.id}}" 
                class="cont-100 effect-image-overlay {% if header.main_image %}border-main-lg{% endif %}">

                <div class="d-flex justify-center gap-2 cont-100 image-overlay">
                    <button class="btn btn-circle-overlay">
                        <i class="ri-edit-2-line font-xl" ></i>
                    </button>
                    <button class="btn btn-circle-overlay">
                        <i class="ri-delete-bin-6-line font-xl"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if active_banners %}
        <div class="grid-col-all cont-space-between-mobile gap-2">
            <h2 class="bold-main mt-2">Banners Activos en Home:</h2>
            <button class="btn btn-main w-max gap-1 p-1 px-2 btn-add-header" data-object="banner" 
            data-index="0" data-action="create">
                <i class="ri-function-add-line font-lg"></i>
                <span class="font-sm"><b>Agregar Banner</b></span>
            </button>
        </div>

        {% for header in active_banners %}
            <div class="h-170 relative cont-header-img" data-object="banner" data-index="{{header.id}}" data-action="update"
                data-model='{
                    "available": "{{ header.available|yesno:"no,yes" }}",
                    "main_image": "{{ header.main_image|yesno:"yes,no" }}",
                    "header-{{header.main_image}}-{{header.id}}": "{{ header.image_url|escape_data}}"
                }'>

                <img src="{{ header.image_url }}" alt="Header {{header.id}}" 
                class="cont-100 effect-image-overlay {% if header.main_image %}border-main-lg{% endif %}">

                <div class="d-flex justify-center gap-2 cont-100 image-overlay">
                    <button class="btn btn-circle-overlay">
                        <i class="ri-edit-2-line font-xl" ></i>
                    </button>
                    <button class="btn btn-circle-overlay">
                        <i class="ri-delete-bin-6-line font-xl"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if inactive_banners %}
        <h2 class="bold-main grid-col-all mt-4">Banners Inactivos/Ocultos:</h2>

        {% for header in inactive_banners %}
            <div class="h-170 relative cont-header-img" data-object="banner" data-index="{{header.id}}" data-action="update"
                data-model='{
                    "available": "{{ header.available|yesno:"no,yes" }}",
                    "main_image": "{{ header.main_image|yesno:"yes,no" }}",
                    "header-{{header.main_image}}-{{header.id}}": "{{ header.image_url|escape_data}}"
                }'>
                
                <img src="{{ header.image_url }}" alt="Header {{header.id}}" 
                class="cont-100 effect-image-overlay {% if header.main_image %}border-main-lg{% endif %}">

                <div class="d-flex justify-center gap-2 cont-100 image-overlay">
                    <button class="btn btn-circle-overlay">
                        <i class="ri-edit-2-line font-xl" ></i>
                    </button>
                    <button class="btn btn-circle-overlay">
                        <i class="ri-delete-bin-6-line font-xl"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>


<!-- MODALES Y ETC 		 -->
<form class="modal form-modal" id="form-modal-headers">

    <div class="d-flex-col gap-2">
        <!-- name -->
        <div class="d-grid cont-grid-122">

            <!-- FILA 1 Title n Button -->
            <div class="grid-col-all cont-space-between">
                <p class="font-lg bold-main modal-title"> </p>
                <button type="button" class="btn btn-32 btn-close form-modal-close"> 
                    <i class="ri-close-fill font-xl"></i>
                </button>
            </div>
        
            <!--   FILA 2 IMAGENES ACTUAL Y DELETE Headers -->
            <div class="cont-block-update gap-1" data-state="closed">

                <p><b>Imagen actual</b><i class="ri-corner-right-down-line font-lg"></i></p>
                <div class="h-190 w-100 header-modal-images">  </div>

                <!--  Main checkbox 		 -->
                <div class="w-100 d-flex gap-3">
                    <div class="d-flex gap-1">
                        <i class="ri-image-edit-line font-lg"></i>
                        <strong><span class="modal-object">Header</span> Principal (*):</strong>    
                    </div>

                    <label class="d-flex gap-1">
                        <input type="radio" name="main_image" value="yes">
                        <b>Sí</b>
                    </label>

                    <label class="d-flex gap-1">
                        <input type="radio" name="main_image" value="no">
                        <b>No</b>
                    </label>
                </div>

                <!-- Soft Delete radio buttons -->
                <div class="w-100 d-flex gap-3">
                    <div class="d-flex gap-1">
                        <i class="ri-image-edit-line font-lg"></i>
                        <strong><span class="modal-span">Header</span> Oculto (**):</strong>    
                    </div>
                    
                    <label class="d-flex gap-1">
                        <input type="radio" name="available" value="yes">
                        <b>Sí</b>
                    </label>

                    <label class="d-flex gap-1">
                        <input type="radio" name="available" value="no">
                        <b>No</b>
                    </label>
                </div>

                <p class="font-sm">
                    <b>(*)</b> Esto significa que será la primera imagen que se muestra 
                    de los <span class="modal-span">Header</span>s en el Home.
                </p>

                <p class="font-sm">
                    <b>(**)</b> Esto significa que no se mostrará la imagen, en el Home.
                </p> 
            </div>

            <!-- Test Delete for dumbs		 -->
            <div class="cont-block-update gap-1" data-state="closed">
                <div class="d-flex gap-2">
                    <strong>¿Desea eliminar este <span class="modal-span"> </span>?</strong>
                    <input type="checkbox" class="check-delete">
                </div>

                <section class="cont-delete-btn gap-2 p-2" data-state="closed">
                    <div class="cont-space-between-mobile">
                        <strong>Indique esta casilla y toque "Borrar Permanentemente" (*)</strong>
                        <input type="checkbox" name="delete">
                    </div>

                    <p><b>(*)</b> Esta acción no se puede deshacer...</p>

                    <button class="btn w-max gap-1 p-1 px-2 btn-close btn-delete" type="submit" data-action="delete">
                        <b>Borrar Permanentemente</b>
                        <i class="ri-delete-bin-5-line font-lg"></i>
                    </button>
                </section>
            </div>
        
            <!--   FILA 4 FORMULARIO IMAGENES CARGA		 -->
            <div class="d-flex-col gap-1">
                <div class="d-flex gap-1">
                    <h4> Reemplazar con Nueva Imagen: </h4>
                    <i class="ri-corner-right-down-line font-lg"></i>
                </div>

                <!-- Contenedor para las previsualizaciones image-previews-->
                <div class="border-main h-190 w-100 cont-img-100 cont-img-previews">  </div>  

                <div class="cont-block-create" data-state="closed">
                    <!--  Main checkbox 		 -->
                    <div class="w-100 d-flex gap-3">
                        <div class="d-flex gap-1">
                            <i class="ri-image-edit-line font-lg"></i>
                            <strong><span class="modal-object">Header</span> Principal (*):</strong>    
                        </div>

                        <label class="d-flex gap-1">
                            <input type="radio" name="new_main_image" value="yes">
                            <b>Sí</b>
                        </label>

                        <label class="d-flex gap-1">
                            <input type="radio" name="new_main_image" value="no" checked>
                            <b>No</b>
                        </label>
                    </div>

                    <!-- Soft Delete radio buttons -->
                    <div class="w-100 d-flex gap-3">
                        <div class="d-flex gap-1">
                            <i class="ri-image-edit-line font-lg"></i>
                            <strong><span class="modal-span">Header</span> Oculto (**):</strong>    
                        </div>
                        
                        <label class="d-flex gap-1">
                            <input type="radio" name="new_available" value="yes">
                            <b>Sí</b>
                        </label>

                        <label class="d-flex gap-1">
                            <input type="radio" name="new_available" value="no" checked>
                            <b>No</b>
                        </label>
                    </div>

                        
                    <p class="font-sm">
                        <b>(*)</b> Esto significa que será la primera imagen que se muestra 
                        de los <span class="modal-span">Header</span>s en el Home.
                    </p>

                    <p class="font-sm">
                        <b>(**)</b> Esto significa que no se mostrará la imagen, en el Home.
                    </p> 
                </div>

                <div class="cont-block-update gap-1" data-state="closed">
                    <p><b>(*)</b> Recorda siempre mirar bien las imagenes subidas y/o eliminadas...</p>
                    <p><b>(**)</b> Si subís una nueva imagen se reemplazará la anterior...</p>
                    <p><b>(***)</b> Si cancelas perderás los cambios realizados...</p>
                    <p><b>(****)</b> Las Categorías solo pueden tener una única imagen asociada.</p>
                </div>
            </div>

            <div class="d-flex-col gap-2">
                <input type="file" class="image-input" name="images">
                
                <div class="d-flex-col-row justify-center align-center gap-2">
                    <button class="btn gap-1 btn-main btn-36 w-100 btn-form-submit" type="submit"> 
                        <i class="ri-edit-2-line font-lg"></i>
                        <b>Aplicar Cambios</b>
                    </button>

                    <button class="btn btn-close btn-36 w-100 form-modal-cancel" type="button">
                        <b>Cancelar</b>
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>





