

{% load custom_filters %}

<div class="d-grid cont-grid-122 gap-2" id="table-categories">

    <h1 class="mb-1 grid-col-all"> Categorías y Subcategorías </h1>

    <div class="grid-col-all cont-space-between gap-1">
        <button class="btn gap-1 btn-main btn-open-tabs" data-to-open="true">
            <h4 class="text-btn">Abrir Todos</h4>
            <i class="ri-list-view font-lg"></i>
        </button>

        <button class="btn gap-1 btn-main btn-open-form-modal" data-action="create" data-index="0" data-object="category">
            <h4>Agregar Categoría</h4>
            <i class="ri-add-fill font-lg"></i>
        </button>
    </div>

    {% for category, subcategories in categories.items %}
        <div class="border-hover d-flex-col gap-2 p-2">

            <!-- category button  row-cats-option  -->
            <div class="btn btn-36 w-100 cont-space-between row-categories border-secondary bg-secondary" 
            aria-expanded="false">
                <h4 class="ms-2">{{ category.name }}</h4>
                <button class="btn btn-alt btn-open-form-modal" data-action="update" 
                    data-index="{{category.id}}" data-object="category"
                    data-model='{
                        "name": "{{ category.name|escape_data }}",
                        "image-True-{{category.id}}": "{{ category.image_url|escape_data}}"
                    }'>
                    <i class="ri-edit-2-line font-lg"></i>
                </button>
            </div>
            
            <div class="cont-subcats" data-state="closed">
                {% if subcategories %}
                    {% for subcat in subcategories %}
                    <!-- subcategory button -->
                    <div class="mb-1 btn btn-36 w-100 cont-space-between border-secondary bg-secondary">
                        <h4 class="ms-2">{{ subcat.name }}</h4>

                        <button class="btn btn-alt btn-open-form-modal" data-open-select="true" 
                            data-action="update" data-index="{{subcat.id}}" data-object="subcategory"
                            data-model='{
                                "name": "{{ subcat.name|escape_data }}",
                                "image-True-{{subcat.id}}": "{{ subcat.image_url|escape_data}}",
                                "category": "{{ category.id }}"
                            }'>
                            <i class="ri-edit-2-line font-lg"></i>
                        </button>
                    </div>
                    {% endfor %}
                {% endif %}
                
                <button class="btn gap-1 btn-main btn-open-form-modal" data-open-select="true" 
                    data-action="create" data-index="0" data-object="subcategory"
                    data-model='{
                        "category": "{{ category.id|escape_data}}"
                    }'>
                    <h4>Agregar Subcategoría</h4>
                    <i class="ri-add-fill font-lg"></i>
                </button>
            </div>
        </div>
    {% endfor %}

    <!-- Brands stuff -->
    <h1 class="mt-2 grid-col-all"> Marcas </h1>

    <div class="grid-col-all cont-space-between">
        <button class="btn gap-1 btn-main btn-open-form-modal" data-action="create" data-index="0" data-object="brand">
            <h4>Agregar Marca</h4>
            <i class="ri-add-fill font-lg"></i>
        </button>
    </div>
    
    {% for brand in brands %}
        <div class="border-hover p-2">
            <!-- category button -->
            <div class="btn-36 w-100 cont-space-between border-secondary bg-secondary" aria-expanded="false">
                <h4 class="ms-1">{{ brand.name }}</h4>
                <button class="btn btn-alt btn-48 btn-open-form-modal" 
                    data-action="update" data-index="{{brand.id}}" data-object="brand"
                    data-model='{
                        "name": "{{ brand.name|escape_data }}",
                        "image-True-{{brand.id}}": "{{ brand.image_url|escape_data}}"
                    }'>
                    <i class="ri-edit-2-line font-lg"></i>
                </button>
            </div>
        </div>
    {% endfor %}

</div>


<!-- Form to add new product  -->
<form class="modal form-modal" id="form-modal-categories">

    <!-- name -->
    <div class="d-flex-col">
        
        <div class="d-grid cont-grid-122 cont-grid-categories">

            <!-- FILA 1 Title n Button -->
            <div class="grid-col-all cont-space-between">
                <h4 class="font-lg bold-main modal-title"> </h4>
                <button type="button" class="btn btn-32 btn-close form-modal-close"> 
                    <i class="ri-close-fill font-xl"></i>
                </button>
            </div>

            <!-- FILA 2 Name n Name for Update -->
            <div class="cont-block-update" data-state="closed">
                <div class="d-flex gap-2 btn-40 w-75 border-main p-1">
                    <strong class="text-truncate">Nombre Actual:</strong>
                    <strong class="w-50 modal-oldName"></strong></p>
                </div>
            </div>

            <label class="d-flex gap-2 btn-40 w-100 grid-col-all-cond">
                <strong class="text-truncate">Nuevo Nombre:</strong>
                <input class="w-50 modal-name" type="text" name="name"/>
            </label>

            <!--   FILA 3 IMAGENES ACTUAL Y DELETE CAT -->
            <div class="cont-block-update gap-1" data-state="closed">
                <p>
                    <b>Imagen actual de la <span class="modal-span"> </span> </b>
                    <i class="ri-corner-right-down-line font-lg"></i>
                </p>
                <div class="d-grid cont-grid-123 cont-modal-images">  </div>
            </div>

            <div class="d-flex-col gap-2 grid-col-all-cond">
                <!-- Categorias select -->
                <div class="cont-block-subcats" data-state="closed">
                    <label class="d-flex-col mt-1 gap-1">
                        <span><b>Categoría: </b>(*) Cuidado de modificar la categoría.</span> 
                        <div class="w-50">
                            <select class="category-select modal-category" name="category">
                                <option value="0">Sin Categoría</option>
                                {% for category, subcategories in categories.items %}
                                    <option value="{{ category.id }}">
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </label>
                </div>

                <!-- Test Delete for dumbs		 -->
                <div class="cont-block-update gap-1" data-state="closed">
                    <div class="d-flex gap-2">
                        <b>¿Desea eliminar esta <span class="modal-span"> </span>?</b>
                        <input type="checkbox" class="check-delete">
                    </div>

                    <section class="cont-delete-btn gap-2 p-2 px-3" data-state="closed">
                        <div class="cont-space-between-mobile">
                            <strong>Indique esta casilla y toque "Borrar Permanentemente" (*)</strong>
                            <input type="checkbox" name="delete">
                        </div>

                        <p><b>(*)</b> Esta acción no se puede deshacer...</p>

                        <button class="btn w-max gap-1 p-1 px-2 btn-close btn-delete" type="submit" data-action="delete">
                            <b>Borrar Permanentemente</b>
                            <i class="ri-delete-bin-5-line font-lg"></i>
                        </button>
                    </section>
                </div>
            </div>

            <!--   FILA 4 FORMULARIO IMAGENES CARGA		 -->
            <div class="d-flex-col gap-1">
                <div class="d-flex gap-1">
                    <strong class="text-sm"> Nueva Imagen de <span class="modal-span"> </span> Preview </strong>
                    <i class="ri-corner-right-down-line font-lg"></i>
                </div>

                <!-- Contenedor para las previsualizaciones image-previews-->
                <div class="border-main d-grid cont-grid-122 gap-1 cont-img-100 cont-img-previews">  </div>  
                
                <div class="d-flex-col gap-1">
                    <p><b>(*)</b> Recorda siempre mirar bien las imagenes subidas y/o eliminadas...</p>
                    <p><b>(**)</b> Si subís una nueva imagen se reemplazará la anterior...</p>
                    <p><b>(***)</b> Si cancelas perderás los cambios realizados...</p>
                    <p><b>(****)</b> Las Categorías solo pueden tener una única imagen asociada.</p>
                </div>
            </div>

            <div class="d-flex-col gap-2">
                <input type="file" class="image-input" name="images">
                
                <div class="d-flex-col-row justify-center align-center gap-2">
                    <button class="btn gap-1 btn-main btn-36 w-100 btn-form-submit" type="submit"> 
                        <i class="ri-edit-2-line font-lg"></i>
                        <b>Aplicar Cambios</b>
                    </button>

                    <button class="btn btn-close btn-36 w-100 form-modal-cancel" type="button">
                        <b>Cancelar</b>
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>