

/* 
    MODAL FORM STUFF 
*/ 
.form-modal[data-state="open"] {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    max-width: 1300px;
    pointer-events: auto; 
}

/* generic class on dashboard admin */
input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #007bff;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;          /* Oculta el estilo nativo */
    -webkit-appearance: none;
    background-color: var(--bg-primary);
    border: 2px solid var(--red-color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Punto interior al hacer check */
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--text-primary);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

.active-main {
    color: var(--main-color) !important;
    border: 2px solid var(--main-color) !important;
}

.btn-border {
    border: 1px solid var(--text-secondary);
    border-radius: 4px;
    color: var(--text-primary);
}

/* nuevos agregados para mejorar performance del modal categories */
.cont-grid-update[data-state='closed'],
.cont-grid-create[data-state='closed'],
.cont-grid-subcats[data-state='closed'],
.cont-delete-btn[data-state='closed'],
.cont-flex-update[data-state='closed'],
.cont-flex-create[data-state='closed'] {
    display: none;
}

/*
    .cont-grid-update -> mostrar/ocultar dinamicamente segun tipo de form
    .cont-grid-create -> mostrar/ocultar dinamicamente segun tipo de form
    .cont-grid-subcats -> mostrar/ocultar dinamicamente segun si es form de subcategorias
    .cont-delete-btn -> mostrar/ocultar especial para deletear desde la base de datos check adicional
*/
.cont-grid-update[data-state='open'],
.cont-grid-create[data-state='open'],
.cont-grid-subcats[data-state='open'],
.cont-delete-btn[data-state='open'] {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
}

.cont-flex-update[data-state='open'],
.cont-flex-create[data-state='open'] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.grid-col-all-cond[data-state='open'] {
    grid-column: 1 / -1;
    width: 75%;
    max-width: 75%;
}

.grid-col-all-cond[data-state='closed'] {
    grid-column: auto;
}


.cont-space-between-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*
.justify-self-end { justify-self: flex-start; }
.justify-self-center { justify-self: center; }
.justify-self-end { justify-self: flex-end; }
*/
/* Styles for large desktops (mín. 992px to max. infinite) */

@media (min-width: 992px) {
    .grid-col-all-cond[data-state='open'] {
        width: 50%;
        max-width: 50%;
    }

    .cont-space-between-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

