

.img-circle {
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor, recortando si es necesario */
    object-position: center; /* Centra la imagen si se recorta */
}

.p-border-top { 
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

.p-border-bot {
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    border-top: none !important;
}


/*
            Segunda columna dashboards y demas
*/
.cont-banner-profile {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cont-tabs {
    border-top: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    background-color: var(--text-secondary);
    
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
    height: 124px;
    max-height: 124px;
}

.white-border-right-left {
    border-top: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    height: 44px;
}


/* Styles for large desktops (mín. 993px to max. infinite) */
@media (min-width: 992px) {

    .white-border-right-left {
        border: none;
        height: 40px;
        width: calc(100% + 4px);
        border-left: 2px solid var(--white-color);
        border-right: 2px solid var(--white-color);
    }

    .cont-tabs {
        grid-template-columns: repeat(3, 1fr);
        height: 40px;
        max-height: 40px;
    }
}











/* =========================================================================================
            TAB PERSONALIZADO DE ORDERS
/* ========================================================================================= */
.order-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: left;
}

.order-row {
    border-bottom: 1px solid #ddd;
}

.order-row:nth-child(even) {
    background-color: #f9f9f9;
}

.order-cell {
    padding: 15px;
    color: #555;
}

.order-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.order-status-pending {
    background-color: #ffc107;
    color: #000;
}

.order-status-completed {
    background-color: #28a745;
    color: #fff;
}

.order-status-cancelled {
    background-color: #dc3545;
    color: #fff;
}

.order-link {
    color: #007bff;
    text-decoration: none;
}

.order-link:hover {
    text-decoration: underline;
}

