{% extends "home/base.html" %}

{% load static %}
{% load custom_filters %}

<!-- For More CSS Modules -->
{% block extra_head %}
    <title> {{ store.name }} | {{ product.name}} </title>
    <link href="{% static 'products/css/products_detail.css' %}" rel="stylesheet">
{% endblock %}


<!--  ========== SEPARADOR MAIN_CONTENT ========== -->
{% block main_content %}

<!-- Primera fila -->
<div class="d-flex mb-3 gap-1">
    <a class="btn btn-parallelogram d-desktop-flex" href="{% url 'product_list' %}">
        <span> Todos Nuestros Productos </span>
    </a>
    
    {% if category %}
        <a class="btn btn-parallelogram" href="{% url 'pl_category' category.slug %}">
            <span>{{ category.name }}</span>
        </a>
    {% endif %}

    {% if subcategory %}
        <a class="btn btn-parallelogram" href="{% url 'pl_subcategory' category.slug subcategory.slug %}">
            <span>{{ subcategory.name }}</span>
        </a>
    {% endif %}
</div>

<div class="d-grid grid-product-detail">

    <!-- PRIMERA COLUMNA -->
    <div class="d-flex-col gap-2 product">

        <figure class="cont-prod-images border-hover" id="prod-container">
            <!-- Contenedor de imagen principal  -->
            <div class="cont-img-100 cont-prod__h-img"> 
                <!-- Botón de la esquina -->
                <button class="btn btn-40 corner-box btn-zoom-prod">
                    <i class="ri-focus-mode font-xl"></i>
                </button>

                <img id="prod-main-image" class="img-scale-down prod-image-preview prod-zoomed"
                    src="{{ product.main_image }}" alt="{{ product.name }}">
            </div> 

            <!-- Flechas de navegación -->
            <figcaption class="w-100 d-flex justify-center mt-2 gap-3">
                <!-- Flecha izquierda -->
                <button class="btn arrow-button left">
                    <i class="ri-arrow-drop-left-line font-xxl"></i>
                </button>
                
                <!-- Flecha derecha -->
                <button class="btn arrow-button right">
                    <i class="ri-arrow-drop-right-line font-xxl"></i>
                </button>
            </figcaption>
        </figure>
        
        <!-- Contenedor de abajo con las imagenes -->
        <div class="cont-grid-344">
            {% for image in images_urls %}
                <div class="cont-img-100-off cont-lil-prod-img {% if forloop.first %}border-main{% endif %}" >
                    <img class="img-scale-down" src="{{image}}" alt="No Imagen">
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- SEGUNDA COLUMNA -->
    <div class="d-flex-col gap-2 categories">
        <div class="d-flex-col border-hover bg-primary p-2 gap-2">
            <h3>{{ product.name }}</h3>

            <div class="d-flex gap-1">
                {% if category %}
                <a class="btn btn-alt p-1 px-2 font-sm" href="{% url 'pl_category' category.slug %}">
                    <b>{{category.name}}</b>
                </a>
                {% endif %}

                {% if subcategory %}
                <a class="btn btn-alt p-1 px-2 font-sm" href="{% url 'pl_subcategory' category.slug subcategory.slug %}">
                    <b>{{ subcategory.name }}</b>
                </a>
                {% endif %}
            </div>

            <!-- Cuadros de Stock Y Marca -->
            <div class="d-flex gap-1">
                <div class="bg-secondary border-hover text-start d-flex-col p-1 px-2">
                    <p class="text-secondary text-truncate font-sm"><b>Codigo:</b></p>
                    <span>
                        # 25{{ product.id }}
                    </span>
                </div>

                {% if brand %}
                    <div class="bg-secondary border-hover text-start d-flex-col p-1 px-2">
                        <p class="text-secondary font-sm"><b>Marca:</b></p>
                        <a href="#" class="bold-main">
                            {{brand.name}}
                        </a>
                    </div>
                {% endif %}
                
                <div class="bg-secondary border-hover text-start d-flex-col p-1 px-2">
                    <p class="text-secondary font-sm"><b>Stock:</b></p>

                    {% if product.stock > 4 %}
                        <strong class="text-truncate bold-green">Disponible</strong>
                    {% elif product.stock == 0 %}
                        <strong class="text-truncate bold-red">No Stock</strong>
                    {% else %}
                        <strong class="text-truncate bold-orange">Stock Bajo</strong>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Cuadro de metodo de pago -->
        <div class="d-flex-col border-hover bg-primary p-2 gap-1">
            <div class="d-flex gap-2">
                <div class="img-64">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/tarjeta-de-credito-bloqueada-12012016-9801418.png"
                    class="img-scale-down" alt="Icono de Tarjetas">
                </div>
                
                <div class="d-flex-col">
                    <strong class="text-start">Medios de Pagos:</strong>
                    <button class="btn bold-main text-start">
                        <span>Consultar formas de Pago en Whatsapp</span>
                    </button>
                </div>
            </div>

            <div class="h-64 w-100">
                <img class="img-scale-down" src="{% static 'img/metodos_de_pago.webp' %}" alt="Logo de Medios de Pago">
            </div>
        </div>
    </div>

    <!-- TERCERA COLUMNA -->
    <div class="d-flex-col border-hover bg-primary p-2 price">

    {% if product.price_list %}  {% endif %}
        <strong class="text-center mt-1">
            Precio Lista: $ {{product.price_list|intdot}}
        </strong>
        <span class="text-center font-sm bold-main">
            Precio de lista para pagos en cuotas.
        </span>
    
    {% if product.discount %}
        <div class="offer-tag font-sm text-truncate text-white mt-1">
            <b>% {{product.discount}} OFF</b>
        </div>
        <div class="font-xl text-center gap-1">
            <i class="ri-fire-line bold-orange"></i>
            <b>$ {{ product.calc_discount|intdot }}</b> 
        </div>
        <del class="font-md text-center text-secondary">
            <b>$ {{ product.price|intdot }}</b>
        </del>
    {% else %}
        <strong class="font-xl text-center mt-1">
            $ {{ product.price|intdot }}
        </strong>
    {% endif %}

        <strong class="text-center font-sm mt-1">
            PRECIO ESPECIAL EFECTIVO O TRANSFERENCIA
        </strong>

        <!-- Promos bancarias relleno -->
        <strong class="font-sm border-primary text-start p-1 mt-1">Promociones Bancarias: </strong>

        <div class="h-64 w-100">
            <img src="{% static 'img/galicia_promo.jpg' %}" alt="Logo Banco" class="img-scale-down">
        </div>

        <form class="d-flex gap-1 mt-2 product-detail-form" data-index="{{product.id}}" data-stock="{{product.stock}}">

            <!-- Contador y botón de eliminar -->
            <div class="cont-numeric-add-less w-50 cont-space-between">
                <button type="button" class="btn btn-32 scale-on-touch prod-detail-minus" data-index="{{value.id}}">
                    <i class="ri-subtract-fill font-lg text-primary"></i>
                </button>

                <input type="text" class="prod-detail-input" value="1" min="1">
                
                <button type="button" class="btn btn-32 scale-on-touch prod-detail-plus" data-index="{{value.id}}">
                    <i class="ri-add-fill font-lg text-primary"></i>
                </button>
            </div>

            <button class="btn btn-40 w-50 btn-main gap-1" type="submit" id="btn-add-item">
                <strong class="font-sm">Agregar</strong>
                <i class="ri-shopping-cart-2-line font-lg"></i>
            </button>
        </form>

        <a href="#" id="btn-prod-wsp-link" class="btn btn-40 w-100 gap-1 mt-1 wsp-button" 
            target="_blank" data-wsp="{{store.wsp_number}}" data-name="{{product.name}}" 
            data-price="{{product.price}}">
            <i class="ri-whatsapp-line font-xl"></i> 
            <b class="font-md">Enviar mensaje</b>
        </a>
    </div>
</div>

<div class="d-flex-col border-hover border-primary bg-primary px-3 py-3 mt-5 mb-5 gap-1">

    <div>
        {{ product.description|safe }}
    </div>

    <p> • Diseño ergonómico y moderno.</p>
    <p> ● Materiales de alta calidad para mayor durabilidad.</p>
    <p> ● Tecnología avanzada para un rendimiento óptimo.</p>
    <p> • Fácil de usar y compatible con múltiples dispositivos.</p>
    <p></p>
    <p></p>
    <p></p>

    <p><strong>DISEÑO ERGONÓMICO</strong></p>
    <p>Con un diseño pensado para la comodidad del usuario, este producto se adapta perfectamente a tus necesidades diarias. Su forma ergonómica reduce la fatiga y mejora la experiencia de uso.</p>
    <p></p>
    <p></p>
    <p></p>

    <p><strong>MATERIALES PREMIUM</strong></p>
    <p>Fabricado con materiales de alta resistencia, este producto está diseñado para durar. Cada componente ha sido cuidadosamente seleccionado para garantizar la máxima calidad.</p>
    <p></p>
    <p></p>
    <p></p>

    <p><strong>TECNOLOGÍA AVANZADA</strong></p>
    <p>Equipado con la última tecnología, este producto ofrece un rendimiento excepcional. Ya sea para trabajo, estudio o entretenimiento, este dispositivo está listo para superar tus expectativas.</p>
    <p></p>
    <p></p>
    <p></p>

    <p><strong>FÁCIL DE USAR</strong></p>
    <p>Con una interfaz intuitiva y una configuración sencilla, este producto es ideal para usuarios de todos los niveles. Además, es compatible con una amplia gama de dispositivos.</p>

    <p></p>
    <p></p>
    <p></p>
    <p><strong>ESPECIFICACIONES TÉCNICAS</strong></p>
    <p> ● Peso: 300 g</p>
    <p> ● Dimensiones: 150 x 80 x 30 mm</p>
    <p> • Material: Plástico ABS de alta resistencia</p>
    <p> • Compatibilidad: Windows, macOS, Linux</p>
    <p> • Conectividad: USB-C, Bluetooth 5.0</p>
    <p> • Batería: Duración de hasta 20 horas</p>
    <p> • Garantía: 2 años</p>
</div>


{% endblock %}

<!-- To place banners without the page limit -->
{% block bot_banner_image %}
    <!-- Contenedor para la imagen (nuevo contenedor agregado) -->
    <div class="modal modal-product-detail">
        <div class="cont-images-zoom">
            <img id="zoomedImage" src="" alt="Zoomed" />
            
        </div>
    </div>

    <div class="overlay prod-overlay-detail" data-zoom-in="{% static 'img/zoom-in-line.svg' %}" 
    data-zoom-out="{% static 'img/zoom-out-line.svg' %}">

        <div class="cont-100 relative">
            <!-- Flecha izquierda -->
            <button class="btn arrow-button left-overlay">
                <i class="ri-arrow-drop-left-line font-xxxl"></i>
            </button>

            <!--  Flecha derecha -->
            <button class="btn arrow-button right-overlay">
                <i class="ri-arrow-drop-right-line font-xxxl"></i>
            </button>

            <div class="d-flex gap-1 cont-corner">
                <button class="btn btn-40 text-white zoom-corner"> 
                    <i class="ri-zoom-in-line font-xl"></i>
                </button>

                <button class="btn btn-close btn-40 text-white modal-close"> 
                    <i class="ri-close-large-fill font-xl"></i>
                </button>
            </div>
        </div>
    </div> 
{% endblock bot_banner_image %}

<!-- SCRIPTS -->
{% block extra_scripts %}


<script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>


    <script src="{% static 'products/js/product_detail.js' %}"></script>

{% endblock %}
