

{% load custom_filters %}

<div class="d-grid cont-grid-234 cont-product-cards">
    {% for product in products %}
        
        <article class="product__card w-100 h-100 relative">

            <!-- Botón de la esquina -->
            <button class="btn corner-box" data-product='{
                "id": "{{ product.id|escape_data }}",
                "name": "{{ product.name|escape_data }}",
                "slug": "{{ product.slug|escape_data }}",

                "cat": "{{ product.category.name|escape_data }}",
                "catSlug": "{{ product.category.slug|escape_data }}",

                "subcat": "{{ product.subcategory.name|escape_data }}",
                "subcatSlug": "{{ product.subcategory.slug|escape_data }}",

                "brand": "{{ product.brand.name|escape_data }}",
                "brandSlug": "{{ product.brand.slug|escape_data }}",

                "stock": "{{ product.stock|escape_data }}",
                "price": "{{ product.price|escape_data }}",
                "discount": "{{ product.discount|escape_data }}",

                "image": "{{ product.main_image|escape_data }}"
            }'>
                <i class="ri-focus-mode font-xl"></i>
            </button>
            
            <!-- Contenedor de productos -->
            <div class="d-grid cont-100 product-card__info">
                <!-- Imagen del Producto -->
                <a href="{% url 'product_detail' product.id product.slug %}" class="cont-img-100">
                    <img class="img-scale-down" src="{{ product.main_image }}" alt="{{ product.name }}">
                </a>

                <!-- Titulo ref -->
                <a class="ms-2 text-sm me-2 text-start text-truncate-multiline" 
                href="{% url 'product_detail' product.id product.slug %}">
                    <b class="font-md">{{ product.name }}</b>
                </a>

                <!-- stock -->
                <div class="ms-2 me-2 cont-space-between">
                    {% if not product.available or product.stock == 0 %}
                        <b class="bold-red font-sm">No disponible</b>
                    {% elif product.stock <= 3 %}
                        <b class="bold-orange font-sm">Stock Bajo</b>
                    {% else %}
                        <b class="bold-green font-sm">Disponible</b>
                    {% endif %}
                
                <!-- </div>    container stars - likes
                <div class="ms-2 me-2 cont-space-between">
                    <div class="d-flex gap-1"> 
                        <b> { { product . stars } } </b>
                        <i class="ri-star-fill font-lg"></i>
                    </div>
                -->
                    <!-- Botón de la corazon -->
                    <form class="form-btn__like" data-index="{{product.id}}">
                        {% if product.id in favorite_product_ids %}
                            <button class="btn btn-like liked" type="submit">
                                <i class="ri-heart-fill font-xl"></i>
                            </button>
                        {% else %}
                            <button class="btn btn-like" type="submit">
                                <i class="ri-heart-line font-xl"></i>
                            </button>
                        {% endif %}
                    </form>
                    
                </div>
                
                <!-- discount -->
                <div class="ms-2 d-flex-col gap-1 font-md me-2">
                    {% if product.discount %}
                        <!-- descuento -->
                        <div class="cont-space-between w-100">
                            <b class="font-sm d-desktop-block">Descuento:</b>
                            <b class="font-sm bold-red">%{{product.discount}} OFF</b>
                        </div>
        
                        <!-- Precios: Normal y Oferta -->
                        <div class="cont-space-between w-100 font-sm">
                            <b class="text-line-through text-secondary">Normal:</b>
                            <b class="text-line-through text-secondary">$ {{product.price|intdot}}</b>
                        </div>

                        <!-- Precio con descuento (calculado por JavaScript) -->
                        <div class="cont-space-between w-100">
                            <b class="bold-red">Oferta:</b>
                            <b class="bold-red">$ {{product.calc_discount|intdot}}</b>
                        </div>
                    {% else %}
                        <b class="text-start"> $ {{ product.price|intdot }} </b>
                    {% endif %}
                </div>
            </div>

            <!-- Botón de agregar al carrito -->
            <form class="d-flex justify-center product-card__extender-btn" 
            data-index="{{ product.id }}" data-stock="{{product.stock}}">
                <button class="btn btn-main gap-1 btn-32 w-75 btn-add-product-pc" type="submit">
                    <b>Agregar</b> 
                    <i class="ri-shopping-basket-2-fill font-md"></i>
                </button>
            </form>
        </article>

    {% empty %}
        
        <div class="d-flex">
            <b>The queryset is empty, please search again.</b>
        </div>
        
    {% endfor %}
</div>


<!-- Navegación entre páginas -->
<div class="w-100 d-flex justify-center gap-2 mt-5 p-3">
    {% with params=request.GET|remove_param:'page' %}
        {% if products.has_previous and xDIbaAlgo %}
            <a class="btn cont-border btn-page" href="?{{ params.urlencode }}&page=1">
                <i class="ri-arrow-left-double-fill icon-small"></i>
            </a>

            <a class="btn cont-border btn-page" href="?{{ params.urlencode }}&page={{ products.previous_page_number }}">
                <i class="ri-skip-left-line icon-small"></i>
            </a>
        {% endif %}

        {% for num in products.paginator.page_range %}
            {% if num == products.number %}
                <span class="btn btn-28 border-hover border-main">
                    <b>{{ num }}</b>
                </span>
            {% else %}
                <a class="btn btn-28 border-hover" href="?{{ params.urlencode }}&page={{ num }}">
                    <b>{{ num }}</b>
                </a>
            {% endif %}
        {% endfor %}

        {% if products.has_next and xDIbaAlgo %}
            <a class="btn cont-border btn-page" href="?{{ params.urlencode }}&page={{ products.next_page_number }}">
                <i class="ri-skip-right-line icon-small"></i>
            </a>
            <a class="btn cont-border btn-page" href="?{{ params.urlencode }}&page={{ products.paginator.num_pages }}">
                <i class="ri-arrow-right-double-fill icon-small"></i>
            </a>
        {% endif %}
    {% endwith %}
</div>


